body {
    text-align: center;
    align-items: center;
    color: #135867;
}
form {
    padding: 2vw;
    margin-top: 15%;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-left: 33%;
    margin-right:33%;
    width: 34%;
  
}
strong{
    background-color: blueviolet;
}
button{
    padding: 2%;
    width: 28%;
    font-size: 16px;
    margin: 0.5vw;
}