html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
 
  #chat {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
  }
  input {
    width: 75vw;
    height: 5vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: #8EACB2;
  }
  
 .envio input {
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    width: 70vw;
    border: none ;
    height: 3vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    border-radius: 10px;
    
  }
  .envio{
    width: 75vw;
    height: 6vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    background-color: #145665;
    align-items: center;
  
  }
  
  .messages {
    width: 75vw;
    height: 40vw;
    margin: 2vw 0;
    padding: 2vw;
  }
  @media screen and (max-width: 990px) {
    img{
      margin-top: 6vw;
      margin-left: 8vw ;
    }
    input,
    .messages {
      width: 90%;
    }
  
    input{
      height: 2rem;
      font-size: 1rem;
    }
  
    .messages {
      height: 80%;
    }
  
  }
  @media screen and (max-width: 640px) {
    img{
      margin-top: 3vw;
      margin-left: 4vw ;
    }
    input,
    .envio,
    .messages {
      width: 90%;
    }
    #chat {
      margin-top: -50px;
      margin-bottom: 80px;
    }
  
    .envio{
      margin-top: 100px;
      margin-bottom: -40vw;
      position: relative;
      height: 12vw;
    }
    .envio input{
      width: 100%;
      font-size: 16px;
      height: 8vw;
    }
  
    .messages {
      height: 60%;
    }
  }