body {
    text-align: center;
}
form {
    margin-top: 15%;
    border: 1px solid;
    border-radius: 8px;
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
  
}
strong{
    margin-top: 20%;
}