body {
    text-align: center;
    align-items: center;
    color: #135867;
}
form {
    padding: 2vw;
    margin-top: 15%;
    border: 1px solid #8EACB2;
    border-radius: 8px;
    margin-left: 33%;
    margin-right:33%;
    width: 34%;
  
}

button{
    padding: 2%;
    width: 28%;
    font-size: 16px;
    margin: 0.5vw;
    background-color: #E1DFDF;
    border: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.button.button-custom:hover,
.button.button-custom:active {
    color: #fff;
    background-color: #123456;
    
    }  