html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
  }
  input {
    width: 75vw;
    height: 5vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: #8EACB2;
    color: aliceblue;
  }
  
 .envio input {
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    width: 70vw;
    border: none ;
    height: 3vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    border-radius: 10px;
    
  }
  .envio{
    width: 75vw;
    height: 6vw;
    padding: 0 2vw;
    font-size: 1.5vw;
    background-color: #145665;
    align-items: center;
  
  }
  
  .messages {
    width: 75vw;
    height: 40vw;
    margin: 2vw 0;
    padding: 2vw;
  }
  @media screen and (max-width: 990px) {
    input,
    .messages {
      width: 90%;
    }
  
    input{
      height: 2rem;
      font-size: 1rem;
    }
  
    .messages {
      height: 60%;
    }
  }
  @media screen and (min-width: 375px) {
    input,
    .messages {
      width: 90%;
    }
  
    #alter{
      height: 10rem;
      width: 100%;
      font-size: 2rem;
    }
  
    .messages {
      height: 60%;
    }
  }